<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test task for Go School</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FF6300">

  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <header>
        <h1 class="text-center">Welcome to the Club!</h1>
    </header>
    <main>
        {{template "create-member-form"}}

        <section>
            <h2 class="text-center">Members</h2>

            {{if .Members}}
                {{template "members-list" .Members }}
            {{ else }}
              <p>No members yet. Please use form above to add some
            {{ end }}
        </section>

    </main>

</body>
</html>